<?xml version="1.0"?>

<model>
  <name>my_drone</name>
  <version>1.0</version>
  <sdf version="1.6">my_drone.sdf</sdf>

  <author>
    <name>David Caceres</name>
    <email>davidxcaceres1@gmail.com</email>
  </author>

  <description>A custom quadcopter commanded by translational and rotational velocities in the body frame of the vehicle</description>
</model>
